<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.connection.password">bxq</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@182.162.100.120:10110:orcl</property>
		<property name="hibernate.connection.username">bxq</property>
		<property name="hibernate.default_schema">bxq</property>
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<property name="hibernate.show_sql">true</property>
		
		<!-- options for hibernate.hbm2ddl.auto  -->
		<!-- Validate - 테이블을 전혀 손대지 않고, 프로그램에 필요한 테이블 구조와 일치하는지 확인한후, 일치하지 않으면 에러를 출력한다.
			Update - 기존 테이블이 현재 실행에 필요한 테이블 구조와 다를 경우 수정한다. (데이타는 지우지 않는다.)
			Create - 기존 테이블을 지운 후, 실행할때 마다 매번 생성한다.
			Create Drop - 테이블을 생성해서 프로그램을 실행한 후에, 테이블을 다시 지워버림 -->
		<property name="hibernate.hbm2ddl.auto">validate</property>

		<mapping resource="sophia/hibernate/model/Book.hbm.xml"/>

	</session-factory>
</hibernate-configuration>